{{ 'cnb-section-hero.css' | asset_url | stylesheet_tag }}

<div style="background-image: url({{ section.settings.bg_image | image_url }});" class="color-{{ section.settings.color_scheme }} cnb-hero cnb-section">
    <div class="page-width">
        <div class="hero__content cnb-text_align--{{ section.settings.desktop_content_alignment }}">
            <h1 class="cnb-hero_title">{{ section.settings.hero_title }}</h1>
            <p class="cnb-hero_description">{{ section.settings.hero_description }}</p>

            <a href="{{ section.settings.button_link }}" class="hero-button button button--primary">
              {{ section.settings.button_text }}
            </a>
        </div>
    </div>
</div>
{% schema %}
{
    "name": "Hero Section",
    "settings": [
        {
            "type": "image_picker",
            "id": "bg_image",
            "label": "Background Image"
        },
        {
            "type": "text",
            "id": "hero_title",
            "label": "Hero Title",
            "default": "Turn up the flavor, New York!"
        },
        {
            "type": "textarea",
            "id": "hero_description",
            "label": "Description",
            "default": "Partner with us to give your customers the perfect mix of chill and get lit moments they deserve!."
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Shop Now"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link",
            "default": "/collections/all"
        },
        {
            "type": "header",
            "content": "Styling"
        },
        {
            "type": "color_background",
            "id": "bg_background_color",
            "label": "Background Color"
        },
        {
          "type": "select",
          "id": "desktop_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
        },
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "t:sections.all.colors.label",
            "default": "scheme-3"
        }
    ],
    "presets": [
        {
            "name": "Hero Section",
            "category": "Cannabals"
        }
    ]
}
{% endschema %}